.pizza {
  position: relative;
  z-index: 0;
  width: 200px;
  height: 200px;
  background-color: #F4B350;
  border-radius: 50%;
  box-shadow: inset 0 0 0 6px fade(#000, 5%), 0 3px 6px darken(#F4B350, 30%);
  @1_circle_x: 80px;
  @1_circle_y: 80px;
  @2_circle_x: 110px;
  @2_circle_y: 40px;
  @3_circle_x: 100px;
  @3_circle_y: 130px;
  @4_circle_x: 38px;
  @4_circle_y: 40px;
  @5_circle_x: 38px;
  @5_circle_y: 115px;
  background-image: linear-gradient(to right, transparent 100px, fade(#000, 5%) 100px), // pepperoni
  radial-gradient(circle at @1_circle_x + 10px @1_circle_y + 15px, fade(#fff, 20%) 5px, transparent 5px), radial-gradient(circle at @1_circle_x + 20px @1_circle_y + 29px, fade(#fff, 20%) 8px, transparent 8px), radial-gradient(circle at @1_circle_x + 24px @1_circle_y + 12px, fade(#fff, 20%) 3px, transparent 3px), radial-gradient(circle at @1_circle_x+20px @1_circle_y+20px, #e74c3c 20px, transparent 20px), // pepperoni
  radial-gradient(circle at @2_circle_x + 8px @2_circle_y + 15px, fade(#fff, 20%) 6px, transparent 6px), radial-gradient(circle at @2_circle_x + 20px @2_circle_y + 29px, fade(#fff, 20%) 3px, transparent 3px), radial-gradient(circle at @2_circle_x + 24px @2_circle_y + 12px, fade(#fff, 20%) 7px, transparent 7px), radial-gradient(circle at @2_circle_x+20px @2_circle_y+20px, #e74c3c 20px, transparent 20px), // pepperoni
  radial-gradient(circle at @3_circle_x + 10px @3_circle_y + 12px, fade(#fff, 20%) 5px, transparent 5px), radial-gradient(circle at @3_circle_x + 20px @3_circle_y + 29px, fade(#fff, 20%) 4px, transparent 4px), radial-gradient(circle at @3_circle_x + 26px @3_circle_y + 12px, fade(#fff, 20%) 9px, transparent 9px), radial-gradient(circle at @3_circle_x+20px @3_circle_y+20px, #e74c3c 20px, transparent 20px), // pepperoni
  radial-gradient(circle at @4_circle_x + 10px @4_circle_y + 12px, fade(#fff, 20%) 2px, transparent 2px), radial-gradient(circle at @4_circle_x + 20px @4_circle_y + 29px, fade(#fff, 20%) 7px, transparent 7px), radial-gradient(circle at @4_circle_x + 26px @4_circle_y + 12px, fade(#fff, 20%) 4px, transparent 4px), radial-gradient(circle at @4_circle_x+20px @4_circle_y+20px, #e74c3c 20px, transparent 20px), // pepperoni
  radial-gradient(circle at @5_circle_x + 10px @5_circle_y + 12px, fade(#fff, 20%) 5px, transparent 5px), radial-gradient(circle at @5_circle_x + 15px @5_circle_y + 29px, fade(#fff, 20%) 9px, transparent 9px), radial-gradient(circle at @5_circle_x + 26px @5_circle_y + 12px, fade(#fff, 20%) 2px, transparent 2px), radial-gradient(circle at @5_circle_x+20px @5_circle_y+20px, #e74c3c 20px, transparent 20px), radial-gradient(circle at 50% 50%, fade(#FDE3A7, 75%), 80px, transparent 80px), radial-gradient(circle at 50% 50%, fade(#e74c3c, 70%) 85px, transparent 85px);
  &:before {
    width: 30px;
    height: 20px;
    background-color: fade(#26A65B, 95%);
    border-radius: 30px 0 20px 0;
    top: 30px;
    left: 60px;
    box-shadow: 20px 80px 0 -2px fade(#26A65B, 95%), 80px 90px 0 3px fade(#26A65B, 95%), -30px 50px 0 1px fade(#26A65B, 95%), 74px 30px 0 -2px fade(#26A65B, 95%);
  }
}