@import "flex-mixin.less";

// the daily css challanges
@import "panda-cub.less";
@import "elephant.less";
@import "beaver.less";
@import "tiger.less";
@import "baymax.less";
@import "clock.less";
@import "notepad.less";
@import "ruler.less";
@import "calendar.less";
@import "pencil-jar.less";
@import "pizza.less";
@import "hamburger.less";
@import "taco.less";
@import "frozen-anna.less";
@import "apple-pie.less";
@import "frankenstein.less";
@import "zombie.less";
@import "mike_monster.less";
@import "dory.less";

@import url('https://fonts.googleapis.com/css?family=Bad+Script');

// styles to the body and arrange the items
body {
    .display(flex);
    .flex-direction(column);
    .flex(1);
    padding: 0;
    margin: 0;
}

.content-wrapper {
    .display(flex);
    .flex-direction(row);
    .flex(1);
    .flex-wrap(wrap)
}

.header {
    font-family: 'Lato';
    padding: 20px;
    height: 60px;
    background-color: #333;
    color: whitesmoke;
    .display(flex);
    .justify-content(center);
    .align-items(center);
    .title {
        a {
            text-decoration: none;
            &:link, &:visited, &:active, &:hover  {
                color: whitesmoke;
            }
        }

        .display(flex);
        .align-items(center);
        .justify-content(space-between);
        .flex(1);
        text-transform: uppercase;
        font-size: 28px;
        .sub-title {
            font-style: italic;
            font-size: 14px;
        }
    }
}

div:before,
div:after {
    content: '';
    display: block;
    position: absolute;
}

.item {
    .display(flex);
    .flex(1 0 50%);
    .justify-content(center);
    .align-items(center);
    position: relative;
    min-height: 400px;
    .flex-direction(column);

    &.item-panda {
        background: #f1c40f;
    }
    &.item-elephant {
        background: #bdc3c7;
    }
    &.item-beaver {
        background: #F4F5D6;
        .beaver {
            margin-left: 140px;
            margin-top: 80px;

        }
    }
    &.item-tiger {
        background: #9b59b6;
    }
    &.item-baymax {
        background: #2C3E50;
        z-index: 0;
    }
    &.item-clock {
        background: #DCC6E0;
    }
    &.item-notepad {
        background: #FFBCD8;
    }
    &.item-ruler {
        background: #D5E5E6;
    }
    &.item-calendar {
        background: #19B5FE;
    }
    &.item-pencil-jar {
        background: #C0C0C0;
        z-index: 0;
    }
    &.item-pizza {
        background: #FDE3A7;
    }
    &.item-hamburger {
        background: #F4D03F;
    }
    &.item-taco {
        background: tint(#FDE3A7, 20%);
    }
    &.item-anna {
        background: fade(#000000, 2%);
    }
    &.item-pie {
        background: #F5D76E;
    }
    &.item-frankenstein {
        background: #875F9A;
    }
    &.item-zombie {
        background: #E0CD6E;
    }
    &.item-mike {
        background: #4F716D;
            z-index: 0;
    }
    &.item-dory {
        background: #2299E6;
        z-index: 0;
    }

    .description {
        display: none;
        font-size: 24px;
        font-family: 'Bad Script', cursive;
        color: #333;
        position: absolute;
        bottom: 10px;
        left: 20px;

        .smaller {
            font-size: 14px;
        }
        
    }
}

@media (min-width: 100px) and (max-width: 400px) {
    .item-wrapper {
        -webkit-transform: scale(0.7);
        transform: scale(0.7);
    }
}

@media (min-width: 400px) and (max-width: 600px) {
    .item-wrapper {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
}

@media (max-width: 800px) {
    .content-wrapper {
        .flex-direction(column);
    }
}