@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Bad+Script');
.panda-wrapper .ear {
  z-index: 0;
  width: 80px;
  height: 50px;
  background-color: #1a1a1a;
  position: absolute;
  border: 3px solid #1a1a1a;
  margin-top: -20px;
  box-shadow: inset 0 10px 0 7px #333333;
}
.panda-wrapper .left-ear {
  border-radius: 50% 40% 40% 50%;
  transform: rotate(-30deg);
  margin-left: -5px;
}
.panda-wrapper .right-ear {
  border-radius: 40% 50% 50% 40%;
  margin-left: 130px;
  transform: rotate(30deg);
}
.panda-wrapper .head {
  z-index: 100;
  width: 210px;
  height: 180px;
  background-color: white;
  positions: absolute;
  border-radius: 50%;
  border: 3px solid #1a1a1a;
  overflow: hidden;
  position: relative;
}
.panda-wrapper .eye {
  position: absolute;
  width: 90px;
  height: 110px;
  background-color: #333333;
  border-radius: 40%;
  border: 3px solid #1a1a1a;
  top: 30px;
}
.panda-wrapper .eye .inner-eye {
  position: absolute;
  width: 20px;
  height: 30px;
  background-color: white;
  border-radius: 50%;
  top: 40px;
  border: 2px solid white;
}
.panda-wrapper .left-eye {
  left: -10px;
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
}
.panda-wrapper .left-eye .inner-eye {
  right: 20px;
  box-shadow: inset 4px -8px 0px 3px black;
}
.panda-wrapper .right-eye {
  right: -10px;
  border-bottom-right-radius: 50%;
  border-top-right-radius: 50%;
}
.panda-wrapper .right-eye .inner-eye {
  left: 20px;
  box-shadow: inset -6px -8px 0px 4px black;
}
.panda-wrapper .nose {
  position: absolute;
  top: 65%;
  left: 45%;
  width: 20px;
  height: 10px;
  background-color: black;
  border-radius: 30% 30% 50% 50%;
}
.panda-wrapper .mouth {
  width: 35px;
  height: 2px;
  position: absolute;
  background-color: black;
  bottom: 30px;
  left: 50%;
  border-radius: 50%;
  transform: rotate(-15deg);
}
.panda-wrapper .body {
  position: absolute;
  z-index: 10;
  height: 90px;
  width: 110px;
  border-radius: 40% 40% 40% 40%;
  background-color: white;
  border: 3px solid #1a1a1a;
  margin-left: 50px;
  margin-top: -40px;
}
.panda-wrapper .foot {
  z-index: 2;
  height: 50px;
  width: 30px;
  background-color: #333333;
  border: 3px solid #1a1a1a;
  margin-top: 20px;
  position: absolute;
}
.panda-wrapper .foot.left-foot {
  transform: rotate(10deg);
  border-radius: 0% 0% 11% 2%;
  margin-left: 70px;
}
.panda-wrapper .foot.right-foot {
  margin-left: 110px;
  transform: rotate(-10deg);
  border-radius: 0% 0% 12% 3%;
}
.panda-wrapper .arm {
  z-index: 2;
  height: 50px;
  width: 20px;
  background-color: #333333;
  border: 3px solid #1a1a1a;
  margin-top: -10px;
  position: absolute;
}
.panda-wrapper .arm.left-arm {
  transform: rotate(35deg);
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  margin-left: 35px;
}
.panda-wrapper .arm.right-arm {
  transform: rotate(-35deg);
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  margin-left: 155px;
}
.elephant {
  position: relative;
  width: 200px;
  height: 200px;
  background-color: #95a5a6;
  border-radius: 40%;
  background-image: radial-gradient(circle at 32% 50%, white 4px, transparent 3px), radial-gradient(circle at 30% 50%, #333 10px, transparent 4px), radial-gradient(circle at 69% 50%, white 5px, transparent 3px), radial-gradient(circle at 70% 50%, #333 10px, transparent 4px), linear-gradient(70deg, #95a5a6 50%, #b1bdbd 50%);
  box-shadow: -100px -40px 0px -10px #7f8c8d, 100px -40px 0px -10px #7f8c8d;
}
.elephant .nose {
  width: 150px;
  height: 75px;
  position: absolute;
  border-radius: 0 0 150px 150px;
  top: 190px;
  left: -25px;
  background-image: radial-gradient(circle at 40% 0px, transparent 30px, #95a5a6 1px);
}
.elephant .heart {
  position: absolute;
  height: 20px;
  width: 40px;
  background-color: #E08283;
  top: 140px;
  left: -40px;
  transform: rotate(40deg);
  border-radius: 40% 0 0 40%;
}
.elephant .heart:after {
  height: 20px;
  width: 40px;
  background-color: #E08283;
  transform: rotate(90deg);
  left: 10px;
  top: -10px;
  border-radius: 40% 0 0 40%;
}
.elephant .heart.heart2 {
  transform: scale(0.8);
  top: 100px;
  left: -85px;
}
.elephant .heart.heart3 {
  transform: scale(0.3);
  top: 40px;
  left: -85px;
}
.beaver {
  transform: rotate(55deg);
  width: 100px;
  height: 200px;
  background-color: #8b4513;
  border-radius: 50px;
  border-bottom-left-radius: 50px 150px;
  border-bottom-right-radius: 50px 150px;
  box-shadow: inset -10px -5px 0 rgba(0, 0, 0, 0.2);
  background-image: repeating-linear-gradient(60deg, transparent, transparent 14px, rgba(0, 0, 0, 0.2) 14px, rgba(0, 0, 0, 0.2) 18px), repeating-linear-gradient(-12deg, transparent, transparent 14px, rgba(0, 0, 0, 0.2) 14px, rgba(0, 0, 0, 0.2) 18px);
}
.beaver:after {
  width: 25px;
  height: 25px;
  background-color: black;
  border-radius: 50%;
  margin-left: -95px;
  margin-top: 130px;
  box-shadow: 45px -42px 0 -1px black, 45px -45px 0 13px white, 0 0 0 13px white, 45px 5px 0 -4px black, 40px 20px 0 2px #d79d65, 60px 0px 0 2px #d79d65, 55px 15px 0 -4px white, -55px -10px 0 15px #cd853f, 35px -100px 0 15px #cd853f;
}
.beaver:before {
  margin-left: -100px;
  margin-top: 50px;
  width: 150px;
  height: 200px;
  border-radius: 20px;
  background-repeat: no-repeat;
  background-image: radial-gradient(ellipse at center 100%, #d79d65 25px, transparent 20px), radial-gradient(circle at center 10px, #cd853f 120px, transparent 80px), radial-gradient(ellipse at center 190px, #cd853f 50px, transparent 50px);
  background-size: 100% 100%, 100% 100%;
  background-position: 0 0, 0 0;
  border-top-left-radius: 100px 90px;
  border-top-right-radius: 100px 90px;
  border-bottom-right-radius: 60px 70px;
  border-bottom-left-radius: 60px 70px;
  transform: rotate(-55deg);
  box-shadow: 0 70px 5px -30px rgba(0, 0, 0, 0.03);
}
/* not the most pretty code but it works. */
.tiger {
  position: relative;
  width: 200px;
  height: 180px;
  background-color: #f39c12;
  border-radius: 50%;
  background-image: repeating-linear-gradient(90deg, transparent, transparent 5px, black 5px, black 18px), repeating-linear-gradient(90deg, transparent, transparent 6px, black 6px, black 15px), repeating-linear-gradient(90deg, transparent, transparent 5px, black 5px, black 18px), repeating-linear-gradient(15deg, transparent, transparent 5px, #e67e22 5px, #e67e22 18px);
  background-size: 10% 20%, 10% 15%, 10% 25%, 15% 100%;
  background-repeat: no-repeat;
  background-position: 60px 0px, 90px 0px, 120px 0px, 85px 0;
}
.tiger .cheeks {
  width: 20px;
  height: 20px;
  background-color: #f39c12;
  border-radius: 10px 5px 20px 4px;
  margin-top: 110px;
  transform: rotate(40deg);
  margin-left: -3px;
  position: absolute;
}
.tiger .cheeks.cheeks1 {
  margin-top: 130px;
  margin-left: 5px;
}
.tiger .cheeks.cheeks2 {
  margin-top: 145px;
  margin-left: 15px;
}
.tiger .cheeks.cheeks3 {
  transform: rotate(30deg);
  margin-top: 110px;
  margin-left: 185px;
}
.tiger .cheeks.cheeks4 {
  transform: rotate(30deg);
  margin-top: 130px;
  margin-left: 175px;
}
.tiger .cheeks.cheeks5 {
  transform: rotate(40deg);
  margin-top: 145px;
  margin-left: 165px;
}
.tiger .eye {
  width: 30px;
  height: 15px;
  position: absolute;
  border-radius: 0 0 30px 30px;
  background-image: radial-gradient(circle at 50% 0px, transparent 12px, black 1px);
  transform: rotate(180deg);
}
.tiger .eye.left {
  margin-left: 39px;
  margin-top: 65px;
}
.tiger .eye.right {
  margin-left: 127px;
  margin-top: 65px;
}
.tiger .mouth {
  position: absolute;
  width: 91px;
  height: 91px;
  background-color: white;
  border-bottom-right-radius: 90px;
  transform: rotate(45deg);
  margin-top: 113px;
  margin-left: 54px;
}
.tiger .mouth:after {
  width: 20px;
  height: 10px;
  position: absolute;
  border-radius: 0 0 20px 20px;
  background-image: radial-gradient(circle at 50% 0px, transparent 7px, black 1px);
  margin-top: 40px;
  margin-left: 35px;
  transform: rotate(-30deg);
}
.tiger .nose {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: black;
  border-radius: 10px;
  border-bottom-left-radius: 50px;
  transform: rotate(135deg);
  margin-left: 89px;
  margin-top: 92px;
}
.tiger .nose .lines {
  position: absolute;
  transform: rotate(-120deg);
  width: 80px;
  height: 2px;
  background-color: black;
  margin-left: 30px;
  margin-top: 35px;
}
.tiger .nose .lines.lines1 {
  width: 65px;
  transform: rotate(-140deg);
  margin-top: 19px;
  margin-left: 49px;
}
.tiger .nose .lines.lines2 {
  transform: rotate(-160deg);
  margin-top: -45px;
  margin-left: -55px;
}
.tiger .nose .lines.lines3 {
  width: 62px;
  transform: rotate(-140deg);
  margin-top: -55px;
  margin-left: -30px;
}
.tiger .pink-circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #F1A9A0;
  position: absolute;
  margin-top: 100px;
  margin-left: 40px;
  box-shadow: 88px 0 0 0 #F1A9A0;
}
.tiger .ear {
  width: 40px;
  height: 50px;
  position: absolute;
  background-color: #f39c12;
  border-radius: 50%;
  border-bottom-left-radius: 30px 50px;
  border-bottom-right-radius: 20px 50px;
  transform: rotate(-35deg);
  margin-top: -20px;
  box-shadow: inset 4px 10px 0px 2px #e67e22;
}
.tiger .ear.right {
  transform: rotate(35deg);
  margin-left: 160px;
}
.tiger .black-dots {
  width: 4px;
  height: 4px;
  position: absolute;
  border-radius: 50%;
  background-color: black;
  z-index: 10;
  margin-top: 150px;
  margin-left: 50px;
  box-shadow: 0px -10px 0 0, 20px -20px 0 0, -15px -30px 0 0, 0px -40px 0 0, 10px -30px 0 0, 80px -25px 0 0, 100px -40px 0 0, 85px -15px 0 0, 90px -30px 0 0;
}
.baymax {
  margin-top: -80px;
  width: 120px;
  height: 100px;
  background-color: #ECECEC;
  border-radius: 50%;
  box-shadow: 0px 4px 2px -2px #ccd3d6, inset 10px -8px 0 0 rgba(218, 223, 225, 0.4);
}
.baymax .eye-connector {
  width: 50px;
  height: 8px;
  position: absolute;
  background-color: #333;
  margin-top: 45px;
  margin-left: 35px;
}
.baymax .eye-connector:before {
  width: 20px;
  height: 20px;
  background-color: #333;
  border-radius: 50%;
  left: -10px;
  top: -5px;
  box-shadow: 50px 0 0 0 #333;
}
.baymax .body {
  z-index: -10;
  position: absolute;
  width: 110px;
  height: 130px;
  background-color: #ECECEC;
  margin-top: 70px;
  margin-left: 4px;
  border-top-left-radius: 50% 70%;
  border-top-right-radius: 50% 70%;
  border-bottom-right-radius: 50% 30%;
  border-bottom-left-radius: 50% 30%;
  box-shadow: inset 10px -13px 0 0 rgba(218, 223, 225, 0.4), inset -10px -17px 0 0 rgba(218, 223, 225, 0.4), 0px 4px 1px -2px #ccd3d6;
}
.baymax .body .heart {
  position: absolute;
  height: 10px;
  width: 20px;
  background-color: #E08283;
  top: 45px;
  left: 60px;
  transform: rotate(40deg);
  border-radius: 40% 0 0 40%;
}
.baymax .body .heart:after {
  height: 10px;
  width: 20px;
  background-color: #E08283;
  transform: rotate(90deg);
  left: 5px;
  top: -5px;
  border-radius: 40% 0 0 40%;
}
.baymax .legs {
  position: absolute;
  width: 30px;
  height: 60px;
  background-color: #ECECEC;
  margin-top: 160px;
  margin-left: 20px;
  z-index: -20;
  border-bottom-left-radius: 60% 20%;
  border-bottom-right-radius: 60% 20%;
  box-shadow: inset 3px -3px 0 0 rgba(218, 223, 225, 0.4), inset -3px -8px 0 0 rgba(218, 223, 225, 0.4);
}
.baymax .legs.right {
  margin-left: 60px;
}
.baymax .arms {
  width: 40px;
  height: 120px;
  background-color: #ECECEC;
  border-top-left-radius: 50% 70%;
  border-top-right-radius: 50% 70%;
  border-bottom-right-radius: 50% 30%;
  border-bottom-left-radius: 50% 30%;
  margin-top: 60px;
  position: absolute;
  z-index: -30;
  box-shadow: inset -10px -8px 0 0 rgba(218, 223, 225, 0.4);
}
.baymax .arms.left {
  transform: rotate(40deg);
}
.baymax .arms.right {
  transform: rotate(-50deg);
  margin-left: 80px;
  margin-top: 57px;
}
.baymax .text {
  font-family: 'Bad Script', cursive;
  color: white;
  font-size: 20px;
  width: 250px;
  position: absolute;
  margin-top: -55px;
  margin-left: -45px;
  transform: rotate(-20deg);
}
.clock {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 15px solid #f0e7f2;
  box-shadow: inset 0px 4px 4px 8px #faf8fb;
  background-image: radial-gradient(circle at center, white 52%, transparent 52%, transparent 60%, white 60%), linear-gradient(to bottom, transparent 50%, #d3d3d3 50%, #d3d3d3 51%, transparent 51%), linear-gradient(30deg, transparent 50%, #d3d3d3 50%, #d3d3d3 51%, transparent 51%), linear-gradient(60deg, transparent 50%, #d3d3d3 50%, #d3d3d3 51%, transparent 51%), linear-gradient(90deg, transparent 50%, #d3d3d3 50%, #d3d3d3 51%, transparent 51%), linear-gradient(-30deg, transparent 50%, #d3d3d3 50%, #d3d3d3 51%, transparent 51%), linear-gradient(-60deg, transparent 50%, #d3d3d3 50%, #d3d3d3 51%, transparent 51%);
  background-color: white;
}
.clock:before {
  font-family: 'Bad Script', cursive;
  color: white;
  font-size: 25px;
  content: "Tic Toc";
  transform: rotate(20deg);
  left: 180px;
  width: 200px;
}
.clock:after {
  width: 230px;
  height: 115px;
  top: 100px;
  left: -15px;
  transform-origin: 50% 0%;
  transform: rotate(-45deg);
  background-color: rgba(51, 51, 51, 0.03);
  border-bottom-left-radius: 230px;
  border-bottom-right-radius: 230px;
}
.clock .middle-circle {
  position: absolute;
  top: 90px;
  left: 90px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #333;
  box-shadow: 1px 4px 0 0 rgba(51, 51, 51, 0.3);
}
.clock .middle-circle:after,
.clock .middle-circle:before {
  bottom: 0px;
  left: 13px;
  width: 70px;
  height: 10px;
  border-radius: 10px;
  background-color: #262626;
  transform-origin: 0% 50%;
  transform: rotate(-120deg);
}
.clock .middle-circle:before {
  top: 8px;
  left: 7px;
  transform: rotate(-20deg);
  width: 50px;
}
.notepad {
  width: 150px;
  height: 200px;
  background-color: #FF7CB8;
  position: relative;
  border: 2px solid #5C6A79;
  border-radius: 5px;
  box-shadow: 0px 6px 0 -2px #ECF0F1, 0px 6px 0 #5C6A79, 0 9px 4px rgba(0, 0, 0, 0.2);
}
.notepad:before {
  top: 40%;
  left: 40%;
  content: "Notes";
  font-family: "Bad Script";
  color: #333;
}
.notepad:after {
  position: absolute;
  left: 125px;
  width: 2px;
  height: 207px;
  border: 2px solid #FF6CA8;
  top: -3px;
  background-color: #FF6CA8;
  box-shadow: 0 0 10px 0.5px rgba(0, 0, 0, 0.2);
}
.ruler {
  width: 100px;
  margin-bottom: 10px;
  height: 20px;
  background-color: #DFAD8C;
  border-radius: 3px;
  border: 2px solid #5C6A79;
  background-image: repeating-linear-gradient(to right, transparent, transparent 7px, #5C6A79 7px, #5C6A79 9px, transparent 9px);
  background-repeat: repeat-x;
  background-size: 100% 40%;
  box-shadow: 2px 5px 10px -5px rgba(0, 0, 0, 0.06);
}
.calendar {
  position: absolute;
  position: relative;
  width: 250px;
  height: 300px;
  background-color: #ffffff;
  background-image: linear-gradient(to bottom, #0077C0 100px, transparent 128px), linear-gradient(to bottom, #0077C0 120px, transparent 120px);
  border-radius: 5px;
  border: 2px solid #333;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
}
.calendar .text {
  padding-left: 20px;
  font-family: "Oswald", sans-serif;
  color: white;
  width: 250px;
  height: 120px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.calendar .text .month {
  font-size: 38px;
}
.calendar .text .year {
  font-size: 12px;
}
.calendar:after {
  width: 250px;
  height: 180px;
  top: 120px;
  left: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  content: '24';
  font-family: "Oswald", sans-serif;
  font-size: 92px;
  color: black;
}
body {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 0;
  margin: 0;
}
.content-wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.header {
  font-family: 'Lato';
  padding: 20px;
  height: 60px;
  background-color: #333;
  color: whitesmoke;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
.header .title {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-transform: uppercase;
  font-size: 28px;
}
.header .title a {
  text-decoration: none;
}
.header .title a:link,
.header .title a:visited,
.header .title a:active,
.header .title a:hover {
  color: whitesmoke;
}
.header .title .sub-title {
  font-style: italic;
  font-size: 14px;
}
div:before,
div:after {
  content: '';
  display: block;
  position: absolute;
}
.item {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex: 1 0 50%;
  -ms-flex: 1 0 50%;
  flex: 1 0 50%;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  position: relative;
  min-height: 400px;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.item.item-panda {
  background: #f1c40f;
}
.item.item-elephant {
  background: #bdc3c7;
}
.item.item-beaver {
  background: #F4F5D6;
}
.item.item-beaver .beaver {
  margin-left: 140px;
  margin-top: 80px;
}
.item.item-tiger {
  background: #9b59b6;
}
.item.item-baymax {
  background: #2C3E50;
  z-index: 0;
}
.item.item-clock {
  background: #DCC6E0;
}
.item.item-notepad {
  background: #FFBCD8;
}
.item.item-ruler {
  background: #D5E5E6;
}
.item.item-calendar {
  background: #19B5FE;
}
.item .description {
  font-size: 24px;
  font-family: 'Bad Script', cursive;
  color: #333;
  position: absolute;
  bottom: 10px;
  left: 20px;
}
.item .description .smaller {
  font-size: 14px;
}
@media (min-width: 100px) and (max-width: 400px) {
  .item-wrapper {
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
  }
}
@media (min-width: 400px) and (max-width: 600px) {
  .item-wrapper {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
@media (max-width: 800px) {
  .content-wrapper {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
